<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="image">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/<%= id %>.png">
        </div>

        <div class="stats">
            <h1><%= name %></h1>
            HP: <%= hp %> <br>
            Attack: <%= attack %> <br>
            Defense: <%= defense %> <br>
            Special Attack: <%= special_attack %> <br>
            Special Defense: <%= special_defense %> <br>
            Speed: <%= speed %> <br>
        </div>
    </main>
</body>
</html>